<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<script src="js/wallfunctions.js"></script>
<script src="js/jquery-1.11.0.js"></script>
<script src="js/bootstrap.js"></script>
<link href="../public/css/styles.css" rel="stylesheet" type="text/css">
<link href="/css/styles.css" rel="stylesheet">


</head>

{{!-- banners --}}
<body>
    <div class = 'container'>
    <div class = "bg">
        <div class = "site-header-outer">
            <h4>unnamed</h4>    
        </div>
        <div class = "site-header-inner"></div>
        <a class = "save-button">save</a>
        <button class = "icon-addwall" id = "adding" onclick="addNotes()">+</button>
        <button class = "icon-t">T</button>
        <button class = "icon-dots">...</button>

    </div>
    <ul class='container'>
            <li id='example1'>
              <a href="#" contenteditable="true">
                <h1>Brainstorm idea</h1>
                <p>goal tracking apps</p>
              </a>
            </li>

    </ul>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
{{!-- <script src="js/jquery-1.11.0.js"></script> --}}
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/introHCI.js"></script> 






</body>
</html>
